<!DOCTYPE html>
<html ng-app = "app">
  <head>
    <meta charset="utf-8">
    <title>My Angular App</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <name-display></name-display>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script type="text/javascript">
      angular.module("app", [])
        .component("nameDisplay", {
          controller: function(){
            const vm = this
            vm.username = ""
            vm.updateName = function(name){
              vm.username = name
            }
          },

          template: `
            <h3>{{$ctrl.username}}</h3>
            <input type="text" ng-model="username">
            <input type="submit" value="submit" ng-click="$ctrl.updateName(username)">

          `
        })
    </script>
  </body>
</html>
